@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

:root {
    --black-color: rgba(0,0,0,0.5);
    --border-color: #efefef;
    --white-rgba: rgba(255,255,255,0.5);
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

h1, h2, h3,
h4, h5, h6 {
    font-weight: 600;
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c3e50;
    background: -webkit-linear-gradient(to right, #2c3e50, #3498db);
    background: linear-gradient(to right, #2c3e50, #3498db);
    height: 350px;
}

.main-name {
    font-size: 42px;
}

.sub-name {
    font-size: 24px;
}

.img-logo {
    padding: 2px 2px;
    border-radius: 50%;
    background-color: var(--white-rgba);
    box-shadow: 1px 1px 1px var(--black-color);
    z-index: 1;
    width: 200px;
    display: block;
    margin: auto auto;
}

.history {
    border-top: 3px solid var(--border-color);
    border-bottom: 6px solid var(--border-color);
    padding: 10px 0;
    margin-top: 10px;
}

.react-logo {
    font-size: 48px;
}