nav {
    z-index: 1;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    color: #FFF;
    font-weight: bold;
}

.logo {
    font-size: 24px;
}

nav ul li a {
    font-size: 18px;
    color: #fefefe!important;
}

nav ul li a:hover {
    color: #D95E32!important;
    transition: ease-in .7s color;
    font-size: 20px;
}

@media(min-width: 600px) {
    .logo {
        font-size: 28px;
    }
}

